.foto-principale{
    text-align: center;
}

h1 {
    text-align: center;

}

.titoletto{
   text-align: center;

}
h2{
    color: red;
    display: flex;
justify-content: center;
}
.card-allineate{
    align-items: center;
    padding: 59px;
    

}
.navvbar{
    background-color: blue;
}
.super-container{
  
    position: absolute;


}
.giacomo{
    color: rgb(20, 133, 232);

    position:relative;
    text-align:center ;
    
    bottom: 160px;
    }
    .cardd{
        
        box-shadow: crimson;
    }