body {

    background-color: rgb(208, 208, 224);
}
.foto-principale{
    border-radius: 25%;
    text-align: center;
}

h1 {
    text-align: center;

}
.titolo{
    color: rgb(0, 0, 9);
}

.titoletto{
   text-align: center;
   color: rgb(71, 15, 175);

}
h2{
   
    color: rgb(6, 16, 207);
    display: flex;
justify-content: center;
position:relative;
top:60px;
}
.card-allineate{
    align-items: center;
    padding: 59px;
    

}
.navvbar{
    background-color: blue;
}
.container{
    
}
.super-container{
  position: 100%;
    position: relative;


}
.giacomo{
    color: rgb(229, 236, 243);

    position:relative;
    text-align:center ;
    
    bottom: 120px;
    }

    .piccolefoto{

        
       margin-top: 100px;
    }
    .liste{
        position: relative;
        right: 40px;
 }
 .fixed{
    margin-bottom: 50px;
   
 }
   .accordiondescription{
    font-size:larger;
   }